extends layout

block content
  h1= title
  p Twitter handle #{screen_name} doesn't appear to exist or has no tweets!

  table.table
    div
      tr.floatleft
        td
          form(id='get_tweets', method='post', action='get_tweets')
            span.form_label
              label(for='screenname') Search a Twitter user:
            span
              input(class="button", type='text', name='screen_name', id='screen_name', placeholder='stephenathome')
        td
          div.offsetbtn
            button(onclick='document.getElementById("get_tweets").submit()', class="btn btn-default", type='submit', id='submit', value='Submit') Submit
