extends layout

block content
  h1= title
  p Showing results for #{screen_name}

  div#chart
  - var arr = JSON.parse(tweets).hits

  script
    $(document).ready(function() {
      console.log("hello world")

      $("#chart").append("<ul></ul>");
      for(var i in arr) {
        var li = "<li>";
        $("ul").append(li.concat(arr[i]))
      }

    });


  form(method='post', action='search_tweets')
    span.form_input
      input(type='hidden', name='screen_name', id='screen_name', value='#{screen_name}')

    span.form_label
      label(for='screenname') Search Terms: 
    span.form_input
      input(type='text', name='search_terms', id='search_terms', placeholder='hello world')
    
    span
      input(type='submit', id='submit', value='Submit')

  form(method='post', action='get_tweets')
    span.form_label
      label(for='screenname') New Twitter Handle Search: 
    span.form_input
      input(type='text', name='screen_name', id='screen_name', placeholder='stephenathome')
    
    span
      input(type='submit', id='submit', value='Submit')

  div#chart

