extends layout

block content
  h1= title
  p Text Search #{title}


  form(method='post', action='search_tweets')
    span.form_label
      label(for='screenname') Twitter Handle: 
    span.form_input
      input(type='text', name='screen_name', id='screen_name', placeholder='stephenathome')

    span.form_label
      label(for='screenname') Search Terms: 
    span.form_input
      input(type='text', name='search_terms', id='search_terms', placeholder='hello world')
    
    span
      input(type='submit', id='submit', value='Submit')
