body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/use_your_illusion.png"); 
  color: white;
}

.well {
  color: black;
  background-color: white;
}

a {
  color: #00B7FF;
}

.floatleft {
  float: left;
}

.offsetbtn {
  position: relative;
  top: 25px;
}

